<div class="container">
  <div class="form-training">
    <div class="row d-flex justify-content-center">
      <div class="col-10 col-md-8 col-md-6">
        <h2 class="mt-5 text-center">Nouvel entraînement</h2>
          <%= simple_form_for @training do |f| %>
            <div class="form-inputs">
              <%= f.input :date, as: :string,
                label: "Date de l'entraînement",
                          input_html: { data: { controller: "datepicker" }} %>


              <%= f.input :title, label:"Nom de l'entraînement" %>
              <%= f.input :location, label: "Lieu" %>
              <%= f.input :description %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Créer l'entraînement", class: "btn btn-primary text-white" %>
            </div>
         <% end %>
        <div class="mt-5">
        <p><%= link_to "Retour", trainings_path, class:"btn btn-secondary" %></p>
      </div>
    </div>
    </div>
  </div>
</div>
