<div class="container mt-5">
  <p><%= @training.date%></p>
  <p><%= @training.title%></p>
  <p><%= @training.location%></p>
  <p><%= @training.description%></p>
  <div class="mt-5"> <%= link_to "Retour à la liste des entraînements", trainings_path %></div>
</div>
