<div class="container mt-5">
  <div>
    <h2>Détails de l'entraînement</h2>
      <p><%= @training.date%></p>
      <p><%= @training.title%></p>
      <p><%= @training.location%></p>
      <p><%= @training.description%></p>
  </div>
  <% if current_user.entraineur? %>
   <%= link_to "Renseigner les absences/retards des joueurs", new_training_attendance_path(@training), class: "btn btn-primary mt-3" %>
    <%# Lien vers l'index des évaluations pré-entraînement de cet entraînement %>
  <%= link_to "Voir les évaluations pré-entrainement", training_pre_training_evaluations_path(@training), class: "btn btn-primary" %>
  <% end %>


 <div class="mt-5">
  <% if current_user.entraineur? %>
    <h4>Absences / Retards des joueurs</h4>

    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Joueur</th>
          <th>Date</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        <% @training.attendances.each do |a| %>
          <tr>
            <td><%= "#{a.user.player_profil.first_name} #{a.user.player_profil.last_name}" %></td>
            <td><%= l(a.training.date, format: :long) %></td>
            <td>
              <% badge_class = case a.status
                  when "present" then "badge bg-success"
                  when "absent" then "badge bg-danger"
                  when "late" then "badge bg-warning text-dark"
                  when "excused" then "badge bg-info text-dark"
                  else "badge bg-secondary"
                end %>
              <span class="<%= badge_class %>"><%= a.status.capitalize %></span>
            </td>
            <td>
              <%= link_to edit_training_attendance_path(@training, a), class: "text-decoration-none" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<%= link_to "évaluation - pre entrainement",  new_training_pre_training_evaluation_path(@training)%>



    <div class="mt-5">
      <%= link_to "Retour à la liste des entraînements", trainings_path %>
  </div>
</div>
