<div class="container mt-3">

  <div class="add-absence">
      <% if current_user.entraineur? %>
        <p><%= link_to "Renseigner les absences/retards des joueurs", new_training_attendance_path(@training), class: "btn btn-success text-white mt-3"%></p>
      <% end %>
  </div>

  <div class="training-joueur d-flex justify-content-center">

    <div class="training-details">
      <h4><strong><p><%= @training.title%></p></strong></h4>
      <p><i class="fa-solid fa-calendar-days me-2 text-dark "></i><strong><%= @training.date.strftime("%d %m %Y")%></strong></p>
      <p> <i class="fa-solid fa-location-dot me-2 text-dark"></i><%= @training.location %></p>
      <p><%= @training.description%></p>
        <div class="text-end">
              <% if policy(Training).create?%>
                    <%= link_to edit_training_path do %>
                    <i class="fa-solid fa-pen-to-square text-dark"></i>
                  <% end %>
                <% end %>
                  <% if policy(Training).destroy? %>
                    <%= link_to training_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure" } do %>
                      <i class="fa-solid fa-trash text-dark"></i>
                    <% end %>
                <% end %>
        </div>
    </div>
  </div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="evaluations">
  <% if current_user.joueur? %>
    <% if @pre_training_evaluation.present? %>
      <div class=".training-joueur mt-5">
        <h4>Ton évaluation pré-entrainement</h4>
        <ul>
          <li>Présent : <%= @pre_training_evaluation.present ? "Oui" : "Non" %></li>
          <li>Fatigue cognitive : <%= @pre_training_evaluation.cognitive_fatigue %></li>
          <li>Fatigue physique : <%= @pre_training_evaluation.physical_fatigue %></li>
          <li>Humeur : <%= @pre_training_evaluation.mood %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to "Faire mon évaluation pré-entrainement", new_training_pre_training_evaluation_path(@training), class: "btn btn-primary fs-4 text-white mt-3" %>
    <% end %>
    <% if @after_training_evaluation.present? %>
      <div class=" training-joueur mt-5">
        <h4>Ton évaluation post-entrainement</h4>
        <ul>
          <li>Intensité de l'entraînement : <%= @after_training_evaluation.after_intensity %></li>
          <li>Fatigue physique : <%= @after_training_evaluation.after_fatigue %></li>
          <li>Plaisir de l'entraînement : <%= @after_training_evaluation.pleasure ? "Oui" : "Non" %></li>
        </ul>
      </div>
      <% else %>
        <%= link_to "Faire mon évaluation post-entrainement", new_training_after_training_evaluation_path(@training), class: "btn btn-primary fs-4 text-white mt-3" %>
      <% end %>
  <% end %>
</div>


  </div>
</div>


<% if current_user.entraineur? %>
  <div class="mt-5">
    <h4>Évaluations pré-entrainement des joueurs</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Joueur</th>
          <th>Présent</th>
          <th>Fatigue cognitive</th>
          <th>Fatigue physique</th>
          <th>Humeur</th>
        </tr>
      </thead>
      <tbody>
        <% @pre_training_evaluations.each do |evaluation| %>
          <tr>
            <td><%= "#{evaluation.user.player_profil.first_name} #{evaluation.user.player_profil.last_name}" %></td>
            <td><%= evaluation.present ? "Oui" : "Non" %></td>
            <td><%= evaluation.cognitive_fatigue %></td>
            <td><%= evaluation.physical_fatigue %></td>
            <td><%= evaluation.mood %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-5">
    <h4>Évaluations post-entrainement des joueurs</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Joueur</th>
          <th>Intensité de l'entraînement</th>
          <th>Fatigue physique</th>
          <th>Plaisir de l'entraînement</th>
        </tr>
      </thead>
      <tbody>
        <% @after_training_evaluations.each do |evaluation| %>
          <tr>
            <td><%= "#{evaluation.user.player_profil.first_name} #{evaluation.user.player_profil.last_name}" %></td>
            <td><%= evaluation.after_intensity %></td>
            <td><%= evaluation.after_fatigue %></td>
            <td><%= evaluation.pleasure ? "Oui" : "Non" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>


 <div class="my-5">
  <% if current_user.entraineur? %>
    <h4>Absences / Retards des joueurs</h4>

    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Joueur</th>
          <th>Date</th>
          <th class="text-center">Statut</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @training.attendances.each do |a| %>
          <tr>
            <td><%= "#{a.user.player_profil.first_name} #{a.user.player_profil.last_name}" %></td>
            <td><%= l(a.training.date, format: :long) %></td>
            <td class="text-center">
              <% badge_class = case a.status
                  when "present" then "badge bg-success"
                  when "absent" then "badge bg-danger"
                  when "late" then "badge bg-warning text-dark"
                  when "excused" then "badge bg-info text-dark"
                  else "badge bg-secondary"
                end %>
              <span class="<%= badge_class %>">
                <%= a.status.present? ? a.status.capitalize : "Non défini" %>
              </span>
            </td>
            <td class="text-center">
              <%= link_to edit_training_attendance_path(@training, a), class: "text-decoration-none" do %>
                <i class="fas fa-edit text-dark"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

</div>
