<% if current_user %>
  <div class="footer fixed-bottom d-flex justify-content-around align-items-center">
    <div>
      <% if current_user.entraineur? %>
        <%= link_to player_profils_path do %>
          <i class="fa-solid fa-people-group fs-2 text-dark"></i>
        <% end %>
      <% elsif current_user.player_profil.present? %>
        <%= link_to player_profil_path(current_user.player_profil) do %>
          <i class="fa-solid fa-user fs-2 text-dark"></i>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= link_to trainings_path do %>
        <i class="fa-solid fa-person-running fs-2 text-dark"></i>
      <% end %>
    </div>

    <div>
      <%= link_to match_performances_path do %>
        <i class="fa-solid fa-futbol fs-2 text-dark"></i>
      <% end %>
    </div>

    <div>
      <%= link_to root_path do %>
        <i class="fa-solid fa-house fs-2 text-dark"></i>
      <% end %>
    </div>
  </div>
<% end %>

