<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <% if @player_profil.present? %>
        <%= link_to player_profil_path(@player_profil), class: "navbar-brand" do %>
          <% if @player_profil.avatar.attached? %>
            <%= cl_image_tag @player_profil.avatar.key, alt: "Avatar du joueur" %> <!-- Afficher l'avatar du joueur -->
          <% else %>
            <i class="fa-solid fa-circle-user"></i> <!-- Icône par défaut si pas d'avatar -->
          <% end %>
        <% end %>
      <% else %>
        <!-- Afficher une icône par défaut si l'utilisateur est un entraîneur sans profil de joueur -->
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fa-solid fa-user-tie"></i> <!-- Icône pour un entraîneur -->
        <% end %>
    <% end %>




    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <div class="nav-item active me-3">
            <%= current_user.pseudo %>
          </div>
          <li><%= link_to "Se déconnecter", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
