<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex align-items-center">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <% if user_signed_in? %>
        <%= image_tag "club-logo.webp", class: "rounded-circle", size: "50x50" %>
      <% end %>
    </div>

    <div class="nom">
      <h1 class="text-dark" id="nom">CoachLead</h1>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              Mon compte
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <% if current_user.entraineur?%>
              <li><%= link_to "Exporter des données", admin_exports_path, class:"dropdown-item text-dark"%></li>
              <% end %>
              <li><%= link_to 'Modifier mon compte', edit_user_registration_path, class: "dropdown-item text-dark" %></li>
              <li><%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item text-dark" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
