<div class="container mt-5">
  <% if current_user.entraineur? %>
    <div class="text-end my-4">
      <%= link_to "Créer une nouvelle performance", new_match_performance_path, class: "btn-add text-white" %>
    </div>
  <% end %>

  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-10">
      <h1 class="my-3 text-center">Performances de match</h1>

      <% if @stats_by_player.any? { |_user, stats| stats[:total_played].to_i > 0 } %>
        <table class="table table-bordered mt-2">
          <thead>
            <tr>
              <th>Joueur</th>
              <th>Matchs joués</th>
              <th>Buts</th>
              <th>Passes décisives</th>
              <th>Cartons jaunes</th>
            </tr>
          </thead>
          <tbody>
            <% @stats_by_player.each do |user, stats| %>
              <% next if stats[:total_played].to_i.zero? %>
              <tr>
                <td>
                  <%= user.player_profil.present? ? "#{user.player_profil.first_name} #{user.player_profil.last_name}" : "Profil manquant" %>
                </td>
                <td><%= stats[:total_played] %></td>
                <td><%= user.buts %></td>
                <td><%= user.passes %></td>
                <td>
                  <% if stats[:total_yellow_cards] >= 2 %>
                    <span class="badge text-dark" style="background-color: #ffff00;">
                      <%= stats[:total_yellow_cards] %>
                    </span>
                  <% else %>
                    <%= stats[:total_yellow_cards] %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="text-center"><em>Aucune donnée disponible pour le moment</em></p>
      <% end %>
    </div>
  </div>

  <% if @match_performances.any?(&:played) %>
    <div data-controller="toggle" class="form mb-3">
      <button class="btn btn-outline-primary my-4" data-action="click->toggle#fire">Détails</button>
      <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-10">
          <div data-toggle-target="togglableElement" class="d-none">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <% if current_user.entraineur? %>
                      <th>Joueur</th>
                    <% end %>
                    <th>Date</th>
                    <th>Buts</th>
                    <th>Passes décisives</th>
                    <th>Cartons jaunes</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @match_performances.select(&:played).each do |performance| %>
                    <tr>
                      <% if current_user.entraineur? %>
                        <td>
                          <%= performance.user.player_profil.present? ? "#{performance.user.player_profil.first_name} #{performance.user.player_profil.last_name}" : "Profil manquant" %>
                        </td>
                      <% end %>
                      <td><%= performance.match_date.strftime("%d/%m/%y") %></td>
                      <td><%= performance.buts %></td>
                      <td><%= performance.passes %></td>
                      <td><%= performance.yellow_card %></td>
                      <td>
                        <%= link_to "Voir", match_performance_path(performance), class: "btn btn-sm btn-primary text-white" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% elsif @match_performances.present? %>
    <div class="row d-flex justify-content-center">
      <div class="col-sm-10 col-md-10 col-lg-10">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <% if current_user.entraineur? %>
                  <th>Joueur</th>
                <% end %>
                <th>Date</th>
                <th>Participation</th>
                <th>Buts</th>
                <th>Passes décisives</th>
                <th>Cartons jaunes</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @match_performances.each do |performance| %>
                <tr>
                  <% if current_user.entraineur? %>
                    <td>
                      <%= performance.user.player_profil.present? ? "#{performance.user.player_profil.first_name} #{performance.user.player_profil.last_name}" : "Profil manquant" %>
                    </td>
                  <% end %>
                  <td><%= performance.match_date.strftime("%d/%m/%Y") %></td>
                  <td><%= performance.played ? "Oui" : "Non" %></td>
                  <td><%= performance.buts %></td>
                  <td><%= performance.passes %></td>
                  <td><%= performance.yellow_card %></td>
                  <td>
                    <%= link_to "Voir", match_performance_path(performance), class: "btn btn-sm btn-primary text-white" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
 
  <% end %>
</div>
