<div class="container mt-5">
  <h2 class="text-center">Nouvelle performance de match</h2>
  <div class="row">
    <div class="col-sm-8 col-md-6 col-lg-4 mx-auto">
       <%= simple_form_for @match_performance do |f| %>
        <div class="form-group mt-4">
          <!-- Sélection du joueur -->
          <%= f.label :user_id, "Joueur" %>
          <%= f.select :user_id,
              @player_profils.collect { |profile| [profile.full_name, profile.user_id] },
              { include_blank: "Sélectionner un joueur" },
              { class: "form-control" } %>
        </div>

        <div class="form-group mt-2">
          <!-- Saisie de la date du match -->
          <%= f.label :match_date, "Date du match" %>
          <%= f.date_field :match_date, class: "form-control" %>  <!-- Permet la saisie de la date et de l'heure -->
        </div>

        <div class="form-group mt-2">
          <!-- Participation -->
          <%= f.input :played, label: "Participation", as: :boolean %>
        </div>

        <div class="form-group mt-2">
        <!-- Buts du joueur -->
        <%= f.input :buts, collection: (0..15).to_a, selected: f.object.buts || 0, label: "Buts" %>

        <div class="form-group mt-2">
          <!-- Cartons jaunes -->
          <%= f.input :yellow_card, collection: (0..10).to_a, selected: f.object.yellow_card || 0, label: "Carton jaune" %>
        </div>

        <div class="form-group mt-2">
          <!-- Commentaires -->
          <%= f.input :commentaires, label: "Commentaires" %>
        </div>

        <!-- Bouton de soumission -->
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>  <!-- Cette ligne ferme le bloc simple_form_for -->

    </div>
  </div>

  <div class="mt-3">
    <%= link_to "Retour", match_performances_path, class: "btn btn-secondary" %>
  </div>
</div>
