<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8 col-sm-6 col-md-6 col-lg-6 ">
       <h2 class="text-center">Nouveau joueur</h2>
      <div class="new-player-profil">
        <div class="form-player-profil">
            <%= simple_form_for(@player_profil, html: { multipart: true }) do |f| %>
            <%= f.input :last_name,     as: :string, label: "Nom" %>
            <%= f.input :first_name,    as: :string, label: "Prénom" %>
            <%= f.input :photo,
                        as: :file,
                        input_html: { class: 'd-none' },
                        label_html: { class: 'upload-photo' },
                        label: '📷 Télécharge une photo' %>

            <div class="field">
              <%= f.label :date_of_birth, "Date de naissance" %>
              <%= f.text_field :date_of_birth, type: 'date', class: 'form-control' %>
            </div>


            
            <%= f.input :weight,          label: "Poids (kg)" %>
            <%= f.input :job,            as: :string, label: "Activité professionnelle" %>
            <%= f.input :children_count,  label: "Nombre d'enfants" %>

            <%= f.button :submit, "Créer/Modifier le profil", class: 'btn-new-joueur mb-3' %>
            <% end %>

        </div>
      </div>
      <div class="mb-4">
          <%= link_to "Retour aux joueurs", player_profils_path, class:"btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
