<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-6 ">
      <div class="new-player-profil">
        <div class="form-player-profil">
          <%= simple_form_for(@player_profil, html: { multipart: true }) do |f| %>
          <%= f.input :last_name, label: "Nom" %>
          <%= f.input :first_name, label: "Prénom"%>
          <%= f.input :photo, as: :file, label: "Photo" %>
          <%= f.input :age, label: "Age"%>
          <%= f.input :weight, label: "Poids"%>
          <%= f.input :job, label: "Activité professionnelle"%>
          <%= f.input :children_count , label: "Nombre d'enfants"%>
          <%= f.button :submit, "Créer le profil", class:'btn-new-joueur mb-3' %>
          <% end %>
        </div>
      </div>
      <%= link_to "Retour aux joueurs", player_profils_path %>
    </div>
  </div>
</div>
