<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8 col-sm-6 col-md-6 col-lg-6 ">
       <h2 class="text-center">Nouveau joueur</h2>
      <div class="new-player-profil">
        <div class="form-player-profil">
          <%= simple_form_for(@player_profil, html: { multipart: true }) do |f| %>
          <%= f.input :last_name, label: "Nom" %>
          <%= f.input :first_name, label: "Prénom"%>
          <%= f.input :photo, input_html: { class: 'd-none'}, label_html: { class: 'upload-photo'}, label: '📷 Télécharge une photo' %>
          <%= f.input :age, label: "Age"%>
          <%= f.input :weight, label: "Poids"%>
          <%= f.input :job, label: "Activité professionnelle"%>
          <%= f.input :children_count , label: "Nombre d'enfants"%>
          <%= f.button :submit, "Créer/Modifier le profil", class:'btn-new-joueur mb-3' %>
          <% end %>
        </div>
      </div>
      <div class="mb-4">
          <%= link_to "Retour aux joueurs", player_profils_path, class:"btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
