<div class="container">
  <div class= "player-profil-index-container">
      <% @player_profils.each do |player| %>
        <%= link_to player_profil_path(player) do %>
        <div class="player-profil-index">
          <%= player.first_name %>
          <%= player.last_name %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="add-player-profil">
    <%= link_to "Ajouter un profil", new_player_profil_path %>
  </div>
  <div class="mt-5">
    <%= link_to "Retour", root_path, class: "btn btn-secondary mt-3" %>
  </div>
</div>
