<div class="container">
  <div class= "d-flex justify-content-center">

      <% if @player_profil.photo.attached? %>
        <%= image_tag url_for(@player_profil.photo), class: "card-img-top", alt: "Photo du joueur", style: "width:250px; height:170px; object-fit:cover;" %>
      <% else %>
        <i class="fa-solid fa-circle-user fa-5x my-3 d-block mx-auto"></i>
      <% end %>



    <div class="player-card-show mt-5">
      <p><strong><%= @player_profil.full_name %></strong></p>
      <p><%= @player_profil.age %> ans</p>
      <p><%= @player_profil.weight %> kg</p>
      <p><%= @player_profil.job %></p>
      <% if @player_profil.children_count > 0 %>
        <p><%= @player_profil.children_count %> enfants</p>
      <% else %>
        <p>Aucun enfant</p>
      <% end %>
    </div>
  </div>


  <div class="mt-5">
    <% if current_user.entraineur?%>
      <%= simple_form_for (@player_profil), html: { multipart: true } do |f| %>
      <%= f.input :photo, as: :file %>
        <%= f.button :submit %>
      <% end %>
    <% end %>
  </div>


 <% if current_user.entraineur? %>
  <h3>Présences de <%= @player_profil.first_name %> <%= @player_profil.last_name %></h3>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Date de l'entraînement</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <% @player_profil.user.attendances.each do |attendance| %>
        <tr>
          <td><%= l(attendance.training.date, format: :long) %></td>
          <td>
            <%# Badge selon le statut %>
            <% status = attendance.status %>
            <% badge_class = case status
                when "present" then "badge bg-success"
                when "absent" then "badge bg-danger"
                when "late" then "badge bg-warning text-dark"
                when "excused" then "badge bg-info text-dark"
                else "badge bg-secondary"
              end %>
            <span class="<%= badge_class %>"><%= status.capitalize %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-3">
    <h4>Statistiques de présence</h4>
    <ul>
      <li><strong>Présent :</strong> <%= @player_profil.user.attendances.present.count %></li>
      <li><strong>Absent :</strong> <%= @player_profil.user.attendances.absent.count %></li>
      <li><strong>En retard :</strong> <%= @player_profil.user.attendances.late.count %></li>
      <li><strong>Excusé :</strong> <%= @player_profil.user.attendances.excused.count %></li>
      <li><strong>Total :</strong> <%= @player_profil.user.attendances.count %></li>
    </ul>
  </div>
  <div class="montant-penalites">
    <h2>Pénalités de <%= @player_profil.full_name %></h2>
    <h3>Nombre de pénalités : <%= @player_profil.total_penalties %></h3>
    <h3>Total à soustraire en fin de saison : <%= @player_profil.total_penalties_amount %> €</h3>
  </div>

  <h2>Statistiques de <%= @player_profil.full_name %></h2>

  <p><strong>Ses pénalités :</strong> <%= @player_profil.total_penalties %> absences/retards</p>
  <p><strong>Moyenne de l’équipe :</strong> <%= PlayerProfil.average_penalties %></p>

  <% diff = @player_profil.total_penalties - PlayerProfil.average_penalties %>
  <% if diff > 0 %>
    <p style="color:red;">⬆️ <%= diff %> au-dessus de la moyenne</p>
  <% elsif diff < 0 %>
    <p style="color:green;">⬇️ <%= diff.abs %> en-dessous de la moyenne</p>
  <% else %>
    <p>⚖️ Ce joueur est dans la moyenne</p>
  <% end %>

<% else %>
  <h3>Mes absences / retards</h3>

  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Date</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <% current_user.attendances.each do |attendance| %>
        <tr>
          <td><%= l(attendance.training.date, format: :long) %></td>
          <td>
            <% status = attendance.status %>
            <% badge_class = case status
                when "present" then "badge bg-success"
                when "absent" then "badge bg-danger"
                when "late" then "badge bg-warning text-dark"
                when "excused" then "badge bg-info text-dark"
                else "badge bg-secondary"
              end %>
            <span class="<%= badge_class %>"><%= status.capitalize %></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <div class="mt-3">
      <h4>Mes statistiques de présence</h4>
      <ul>
        <li><strong>Présent :</strong> <%= current_user.attendances.present.count %></li>
        <li><strong>Absent :</strong> <%= current_user.attendances.absent.count %></li>
        <li><strong>En retard :</strong> <%= current_user.attendances.late.count %></li>
        <li><strong>Excusé :</strong> <%= current_user.attendances.excused.count %></li>
        <li><strong>Total :</strong> <%= current_user.attendances.count %></li>
      </ul>
    </div>
    <div class="montant-penalites">
      <h2>Mes Pénalités</h2>
      <h3>Nombre de pénalités : <%= @player_profil.total_penalties %></h3>
      <h3>Total à soustraire en fin de saison : <%= @player_profil.total_penalties_amount %> €</h3>
    </div>
  <% end %>

  <% if policy(PlayerProfil).create?%>
    <%= link_to edit_player_profil_path(@player_profil) do %>
      <i class="fa-solid fa-pen-to-square"></i>
    <% end %>
  <% end %>
    <% if policy(PlayerProfil).destroy? %>
      <%= link_to player_profil_path(@player_profil), data: { turbo_method: :delete, turbo_confirm: "Are you sure" } do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    <% end %>
  <% if current_user.role == "entraineur" %>
    <p><%= link_to "Retour aux joueurs", player_profils_path %></p>
  <% else  %>
    <p class= "mt-3"><%= link_to "Retour", root_path %></p>
  <% end %>
</div>
