<% if current_user.entraineur? %>
  <h1>Bienvenue Coach <%= current_user.email %> !</h1>
  <%= link_to "Voir les joueurs", player_profils_path %>

<% elsif current_user.joueur? %>
  <h1>Bienvenue <%= current_user.email %> !</h1>
  <%= link_to "Mon profil", player_profil_path(current_user.player_profil) %>
<% end %>

<div class="entrainements">
 <h2>
  <%= link_to "Mes Entrainements", trainings_path %>
  </h2>


</div>
