<div class="container">
  <% if current_user.entraineur? %>
    <h1 class= "mt-5">Bienvenue Coach <%= current_user.pseudo %> !</h1>
    <%= link_to "Voir les joueurs", player_profils_path %>
  <% elsif current_user.joueur? %>
    <h1>Bienvenue <%= current_user.email %> !</h1>
    <p class="mt-3"><%= link_to "Mon profil", player_profil_path(current_user.player_profil) %></p>
  <% end %>

  <div class="entrainements mt-5">
    <h2><%= link_to "Mes Entrainements", trainings_path %></h2>
  </div>

  <% if current_user.entraineur?%>
    <div class="training-new">
      <h2><%= link_to "Créer un entraînement", new_training_path %></h2>
  </div>
  <% end %>

  <% if current_user.entraineur?%>
    <div class="penibilite-index">
      <h2><%= link_to "Consulter les evaluations de penibilité", job_load_evaluations_path %></h2>
  </div>
  <% else %>
    <div class="penibilite-joueur">
       <h2><%= link_to "Mes évaluations de pénibilité", job_load_evaluations_path %></h2>
  <% end %>
  </div>
</div>
