<div class="container-home mt-4 d-flex flex-column align-items-center flex-grow-1">


  <% if current_user.entraineur? %>
    <div class="birthday d-flex flex-column align-items-center">
      <% if @birthday_players.present? %>
        <h2>🎉 Anniversaires aujourd’hui</h2>
        <ul>
          <% @birthday_players.each do |player| %>
            <li>
              <strong class="text-white"><%= player.first_name %> <%= player.last_name %></strong> — <%= player.age %> ans 🎂
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="w-100 d-flex flex-column align-items-center">
      <div class="w-100 d-flex justify-content-center mb-4">
        <div class="card-home text-center">
          <h2><%= link_to "Joueurs", player_profils_path, class:"text-white text-decoration-none" %></h2>
        </div>
      </div>

      <div class="w-100 d-flex justify-content-center mb-4">
        <div class="card-home text-center">
          <h2><%= link_to "Entrainements", trainings_path, class:"text-white text-decoration-none" %></h2>
        </div>
      </div>

      <div class="w-100 d-flex justify-content-center mb-5">
        <div class="card-home text-center">
          <h2><%= link_to "Matchs", match_performances_path, class:"text-white text-decoration-none" %></h2>
        </div>
      </div>
    </div>

  <% elsif current_user.joueur? %>
    <div class="birthday">
      <% if @player_profil.birthday_today? %>
        <p class="text-white fs-3" style="font-weight: bold;">🎉 Joyeux anniversaire ! 🎂</p>
      <% end %>
    </div>

    <div class="prochain-entrainement mt-5 mx-2 text-center">
      <% if @next_training %>
        <p>Prochain entraînement : <%= l(@next_training.date, format: "%A %d %B %Y") %></p>
        <%= link_to "Voir l'entraînement", training_path(@next_training), class: "btn btn-primary text-white" %>
      <% else %>
        <p>Aucun entraînement à venir pour le moment.</p>
      <% end %>
    </div>

    <div class="w-100 d-flex flex-column align-items-center mt-5">
      <div class="w-100 d-flex justify-content-center mb-4">
        <div class="card-home text-center">
          <% if current_user.player_profil.present? %>
            <h2>
              <%= link_to "Mon profil", player_profil_path(current_user.player_profil), class: "text-white text-decoration-none" %>
            </h2>
          <% else %>
            <h2>
              Accès non autorisé
            </h2>
          <% end %>
        </div>
      </div>

      <div class="w-100 d-flex justify-content-center mb-4">
        <div class="card-home text-center">
          <h2><%= link_to "Mes Entrainements", trainings_path, class:"text-white text-decoration-none" %></h2>
        </div>
      </div>

      <div class="w-100 d-flex justify-content-center mb-5">
        <div class="card-home text-center">
          <h2><%= link_to "Mes performances de match", match_performances_path, class:"text-white text-decoration-none" %></h2>
        </div>
      </div>
    </div>
  <% end %>

</div>
