<div class="container">
  <% if current_user.entraineur? %>
    <h1 class="mt-5">Bienvenue Coach <%= current_user.pseudo %> !</h1>
    <h2><%= link_to "Voir les joueurs", player_profils_path %></h2>

    <div class="entrainements mt-5">
      <h2><%= link_to "Mes Entrainements", trainings_path %></h2>
    </div>

    <div class="penibilite-index">
      <h2><%= link_to "Consulter les évaluations de pénibilité", job_load_evaluations_path %></h2>
    </div>

    <div class="match-performances-index">
      <h2><%= link_to "Consulter les performances de match", match_performances_path %></h2>
    </div>


  <% elsif current_user.joueur? %>
    <h1>Bienvenue <%= current_user.email %> !</h1>
    <h2 class="mt-3"><%= link_to "Mon profil", player_profil_path(current_user.player_profil) %></h2>

    <div class="penibilite-joueur">
      <h2><%= link_to "Mes évaluations de pénibilité", job_load_evaluations_path %></h2>
    </div>

    <div class="entrainements-joueur">
      <h2><%= link_to "Mes Entrainements", trainings_path %></h2>
    </div>

    <div class="match-performances-joueur">
      <h2><%= link_to "Mes performances de match", match_performances_path %></h2>
    </div>

    <div class="evaluations-entrainement-joueur">
      <% prochain_training = Training.where('date > ?', Time.current).order(:date).first %>
        <% if prochain_training.present? %>
          <% if prochain_training.training_evaluations.exists?(user: current_user) %>
            <p>Tu as déjà évalué l'entraînement du <%= l(prochain_training.date, format: :long) %>.</p>
          <% else %>
            <%= link_to "Évaluer l'entraînement du #{l(prochain_training.date, format: :long)}",
                        new_training_training_evaluation_path(prochain_training),
                        class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <p>Pas d'entraînement prévu pour l’instant.</p>
        <% end %>
    </div>

  <% end %>
</div>
