<div class="container mt-5">
  <% if user_signed_in? %>
  <%= link_to 'Modifier mon mot de passe', edit_user_registration_path %>
<% end %>

  <% if current_user.entraineur? %>
   <h1 class="text-center mt-5">Bienvenue Coach <%= current_user.pseudo %> !</h1>
    <div class="row responsive-row mt-5">
      <div class="col-8 col-sm-4 col-md-6">
        <div class="card-home">
          <h2><%= link_to "Joueurs", player_profils_path %></h2>
        </div>
      </div>
      <div class="col-8 col-sm-4 col-md-6">
        <div class="card-home">
          <div class="entrainements">
            <h2><%= link_to "Entrainements", trainings_path %></h2>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-4 col-md-6">
        <div class="card-home">
          <div class="penibilite-index">
            <h2><%= link_to "Evaluations", job_load_evaluations_path %></h2>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-4 col-md-6">
        <div class="card-home">
          <div class="match-performances-index">
            <h2><%= link_to "Matchs", match_performances_path %></h2>
          </div>
        </div>
      </div>
    </div>

  <% elsif current_user.joueur? %>
    <h1 class="text-center mt-5">Bienvenue <%= current_user.email %> !</h1>
       <div class="prochain-entrainement mt-3">
        <% if @next_training %>
          <p>Prochain entraînement : <%= l(@next_training.date, format: :long) %></p>
          <%= link_to "Voir l'entraînement", training_path(@next_training), class: "btn btn-primary" %>
        <% else %>
          <p>Aucun entraînement à venir pour le moment.</p>
        <% end %>
      </div>
    <div class="row responsive-row mt-5">
        <div class="col-8 col-sm-8 col-md-6">
          <div class="card-home text-center">
            <h2 class="mt-3"><%= link_to "Mon profil", player_profil_path(current_user.player_profil) %></h2>
          </div>
        </div>
      <div class="col-8 col-sm-8 col-md-6">
        <div class="card-home text-center">
          <div class="penibilite-joueur">
            <h2><%= link_to "Mes évaluations de pénibilité", job_load_evaluations_path %></h2>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-8 col-md-6">
          <div class="card-home text-center">
            <div class="entrainements-joueur">
              <h2><%= link_to "Mes Entrainements", trainings_path %></h2>
            </div>
          </div>
        </div>
      <div class="col-8 col-sm-8 col-md-6">
        <div class="card-home text-center">
          <div class="match-performances-joueur">
            <h2><%= link_to "Mes performances de match", match_performances_path %></h2>
          </div>
      </div>
    </div>
  </div>

  <% end %>
</div>
