<div class="container">
  <h2>Évaluation pour l’entraînement du <%= l(@training.date, format: :long) %></h2>
    <%= simple_form_for(@training_evaluation, url: training_training_evaluations_path(@training, evaluation_phase: 'before'), method: :post) do |form| %>
  <div id="avant">
    <h3>Évaluation Avant l'Entraînement</h3>

    <%= form.input :present, collection: [['Oui', true], ['Non', false]], label: "Présence", prompt: "Sélectionnez la présence", required: true %>

    <%= form.input :cognitive_fatigue, label: "Fatigue cognitive (de 0 à 10)", as: :integer, min: 0, max: 10, required: true %>

    <%= form.input :physical_fatigue, label: "Fatigue physique (de 0 à 10)", as: :integer, min: 0, max: 10, required: true %>

    <%= form.input :mood, label: "Humeur (de 0 à 10)", as: :integer, min: 0, max: 10, required: true %>

    <%= form.button :submit, "Évaluer avant l'entraînement", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= simple_form_for(@training_evaluation, url: training_training_evaluations_path(@training, evaluation_phase: 'after'), method: :post) do |form| %>
  <div id="apres">
    <h3>Évaluation Après l'Entraînement</h3>

    <%= form.input :after_intensity, label: "Intensité après l'entraînement (de 0 à 10)", as: :integer, min: 0, max: 10, required: true %>

    <%= form.input :after_fatigue, label: "Fatigue après l'entraînement (de 0 à 10)", as: :integer, min: 0, max: 10, required: true %>

    <%= form.input :pleasure, collection: [['Oui', true], ['Non', false]], label: "Plaisir", prompt: "Sélectionnez le plaisir", required: true %>

    <%= form.button :submit, "Évaluer après l'entraînement", class: 'btn btn-primary' %>
  </div>
<% end %>


</div>
