<div class="container mt-5">
  <h1 class="mb-3">Détail de l’évaluation</h1>
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
      <div class="details-eval mt-3">
      <% if current_user.entraineur? %>
        <p class="text-dark"><strong>Joueur :</strong> <%= @job_load_evaluation.user.player_profil&.first_name %> <%= @job_load_evaluation.user.player_profil&.last_name %></p>
      <% end %>
      <p class="text-dark" ><strong>Période :</strong> <%= @job_load_evaluation.period %></p>
      <p class="text-dark"><strong>Note de charge :</strong> <%= @job_load_evaluation.rating %> / 5</p>
    </div>
  </div>

  </div>



  <%= link_to "Retour", job_load_evaluations_path, class: "btn btn-secondary text-white mt-3" %>
</div>
